/*Je n'ai pas necessairement le bon emplacement de fichers, malheureusement, c'est la seule facon que jai trouvé pour avoir les images qui fonctionnent sans changer le fichier html*/
.puzzle{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    "q w e"
    "r t p"
    "u i o";
    width: 450px;
    height: 450px;
    gap: 0px;
}
#piece1{
    grid-area: p;
}
#piece2{
    grid-area: u;
}
#piece3{
    grid-area: t;
}
#piece4{
    grid-area: i;
}
#piece5{
    grid-area: e;
}
#piece6{
    grid-area: q;
}
#piece7{
    grid-area: o;
}
#piece8{
    grid-area: w;
}
#piece9{
    grid-area: r;
}