* {
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
    height: 100vh;
    padding: 10px;
    background-color: aqua;
}
#h {
    grid-area: header;
}
#nav {
    grid-area: nav;
}
#aside {
    grid-area: aside;
}
#main {
    grid-area: main;
}
#footer {
    grid-area: footer;
}